
<div class="gio-hang">
    <div class="hinh-anh">
        <a href="@Url.Action("IndexShoppingCart","ShoppingCart")"><img src="/images/Shopping-Cart-Icon.png" alt="" title="Có @ViewBag.TongSoluong sản phẩm trong giỏ hàng của bạn !  " /></a>
    </div>
    <div class="noi-dung">
        <div class="text"><a href="@Url.Action("IndexShoppingCart","ShoppingCart")">Giỏ hàng(@ViewBag.TongSoluong)</a></div>
        <div class="text" style="color:red"> @ViewBag.tongtien VNĐ</div>
        
    </div>
</div>
