@model ShopOnline.Entities.SangTac

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPanelo.cshtml";
}
@section DS
{
    <ul>
        <li><a href="~/KhachHang/List">Khách hàng</a></li>
        <li><a href="~/NhanVien/List">Nhân viên</a></li>
        <li><a href="~/Sach/List">Sách</a></li>
        <li><a href="~/TacGia/List">Tác giả</a></li>
        <li><a href="~/TheLoai/List">Thể loại</a></li>
        <li><a href="~/DanhMuc/List">Danh mục</a></li>
        <li><a href="~/ChiTietHoaDon/List">Chi tiết hóa đơn</a></li>
        <li><a href="~/HoaDon/List">Hóa đơn</a></li>
        <li><a href="~/QuangCao/List">Quảng cáo</a></li>
        <li class="chon"><a href="~/SangTac/List">Sáng tác</a></li>
        <li><a href="~/NXB/List">Nhà xuất bản</a></li>
    </ul>
}

@*@if (Session["TenDangNhap"] == null && Session["MatKhau"] == null)
{

    Response.Redirect("~/Admin/Login");
}*@


@using (Html.BeginForm("EditAction", "SangTac"))
{
    <ul id="tabsmenu" class="tabsmenu">
        <li class="active"><a href="#tab1">Sửa </a></li>
    </ul>
    <div id="tab1" class="tabcontent">

        <div class="form">

            @Html.HiddenFor(model => model.MaTG)
            @Html.HiddenFor(model => model.MaSach)
           

            <div class="form_row">
                <label>Tác giả:</label>
                @Html.DisplayFor(model => model.TacGia.TenTG, new { @class = "form_input" })
                <span>@Html.ValidationMessageFor(model => model.MaTG, "", new { @class = "error" })</span>
            </div>

           
            <div class="form_row">
                <label>Tên Sách:</label>
                @Html.DisplayFor(model => model.Sach.TenSach, new { @class = "form_input" })
                <span>@Html.ValidationMessageFor(model => model.MaSach, "", new { @class = "error" })</span>
            </div>

            @*<div class="form_row">
                <label>Tên tác giả:</label>
                @Html.DropDownListFor(model => model.MaTG, null, new { @class = "form_input" })

            </div>*@

            @*<div class="form_row">
                <label>Tên Sách:</label>
                @Html.DropDownListFor(model => model.MaSach, null, new { @class = "form_input" })

            </div>*@


            <div class="form_row">
                <label>Thời gian sáng tác:</label>
                @Html.EditorFor(model => model.TGSangTac, new { @class = "form_input" })
                <span>@Html.ValidationMessageFor(model => model.TGSangTac, "", new { @class = "error" })</span>
            </div>

            <div id="btn-submit">
                <input type="submit" class="form_submit" value="Lưu" />
            </div>

            <div class="clear"></div>
        </div>
    </div>
}