@model ShopOnline.Entities.NhanVien

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutPanelo.cshtml";
}

@section DS
{
    <ul>
        <li><a href="~/KhachHang/List">Khách hàng</a></li>
        <li class="chon"><a href="~/NhanVien/List">Nhân viên</a></li>
        <li><a href="~/Sach/List">Sách</a></li>
        <li><a href="~/TacGia/List">Tác giả</a></li>
        <li><a href="~/TheLoai/List">Thể loại</a></li>
        <li><a href="~/DanhMuc/List">Danh mục</a></li>
        <li><a href="~/ChiTietHoaDon/List">Chi tiết hóa đơn</a></li>
        <li><a href="~/HoaDon/List">Hóa đơn</a></li>
        <li><a href="~/QuangCao/List">Quảng cáo</a></li>
        <li><a href="~/SangTac/List">Sáng tác</a></li>
        <li><a href="~/NXB/List">Nhà xuất bản</a></li>
    </ul>
}
@*@if (Session["TenDangNhap"] == null && Session["MatKhau"] == null)
{

    Response.Redirect("~/Admin/Login");
}*@




@using (Html.BeginForm("AddAction", "NhanVien"))
{
    <ul id="tabsmenu" class="tabsmenu">
        <li class="active"><a href="#tab1">Thêm </a></li>
    </ul>
    <div id="tab1" class="tabcontent">

        <div class="form">
        @{
            if(@Session["Ok"] ==null)
            {
                <div class="form_row">
                    <label>Tên nhân viên:</label>
                    <input type="text" class="form_input" name="TenNhanVien" id="TenNhanVien" value="" />
                    <span>@Html.ValidationMessageFor(model => model.TenNhanVien, "", new { @class = "error" })</span>
                </div>

                <div class="form_row">
                    <label>Email:</label>
                    <input type="text" class="form_input" name="Email" id="Email" value="" />
                    <span>@Html.ValidationMessageFor(model => model.Email, "", new { @class = "error" })</span>
                </div>

                <div class="form_row">
                    <label>SĐT:</label>
                    <input type="text" class="form_input" name="DienThoai" id="DienThoai" value="" />
                    <span>@Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "error" })</span>
                </div>

                <div class="form_row">
                    <label>Tên đăng nhập:</label>
                    <input type="text" class="form_input" name="TenDangNhap" id="TenDangNhap" value="" />
                    <span>
                        @ViewBag.msg_err
                    @Html.ValidationMessageFor(model => model.TenDangNhap, "", new { @class = "error" })
                </span>
                </div>

                <div class="form_row">
                    <label>Mật khẩu:</label>
                    <input type="text" class="form_input" name="MatKhau" id="MatKhau" value="" />
                    <span>@Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "error" })</span>
                </div>

                <div class="form_rad">
                    <label>Phân quyền:</label>
                    <input type="radio" class="input-rad" name="PhanQuyen" id="PhanQuyen" value="False"  /> Nhân viên
                    <input type="radio" class="input-rad" name="PhanQuyen" id="PhanQuyen" value="True"  /> Admin
                    <span>@Html.ValidationMessageFor(model => model.PhanQuyen, "", new { @class = "error" })</span>
                </div>
            }
            else
            {
                <div class="form_row">
                <label>Tên nhân viên:</label>

                @Html.EditorFor(model => model.TenNhanVien, new { @class = "form_input" })
                @Html.ValidationMessageFor(model => model.TenNhanVien, "", new { @class = "error" })
                </div>

                <div class="form_row">
                    <label>Email:</label>

                    @Html.EditorFor(model => model.Email, new { @class = "form_input" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "error" })
                </div>

                <div class="form_row">
                    <label>SĐT:</label>

                    @Html.EditorFor(model => model.DienThoai, new { @class = "form_input" })
                    @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "error" })
                </div>

                <div class="form_row">
                    <label>Tên đăng nhập:</label>

                    @Html.EditorFor(model => model.TenDangNhap, new { @class = "form_input" })
                    @Html.ValidationMessageFor(model => model.TenDangNhap, "", new { @class = "error" })
                </div>


                <div class="form_row">
                <label>Mật khẩu:</label>

                    @Html.EditorFor(model => model.MatKhau, new { @class = "form_input" })
                    @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "error" })
                </div>

                <div class="form_rad">
                    <label>Phân quyền:</label>
                    <input type="radio" class="input-rad" name="PhanQuyen" id="PhanQuyen" value="False" /> Nhân viên
                    <input type="radio" class="input-rad" name="PhanQuyen" id="PhanQuyen" value="True" /> Admin
                    <span>@Html.ValidationMessageFor(model => model.PhanQuyen, "", new { @class = "error" })</span>
                </div>
            }
          }
            <div id="btn-submit">
                <input type="submit" class="form_submit" value="Thêm" />
            </div>

            <div class="clear"></div>
        </div>
    </div>
}








