@model ShopOnline.Entities.TheLoaiSach

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPanelo.cshtml";
}
@section DS
{
    <ul>
        <li><a href="~/KhachHang/List">Khách hàng</a></li>
        <li><a href="~/NhanVien/List">Nhân viên</a></li>
        <li><a href="~/Sach/List">Sách</a></li>
        <li><a href="~/TacGia/List">Tác giả</a></li>
        <li class="chon"><a href="~/TheLoai/List">Thể loại</a></li>
        <li><a href="~/DanhMuc/List">Danh mục</a></li>
        <li><a href="~/ChiTietHoaDon/List">Chi tiết hóa đơn</a></li>
        <li><a href="~/HoaDon/List">Hóa đơn</a></li>
        <li><a href="~/QuangCao/List">Quảng cáo</a></li>
        <li><a href="~/SangTac/List">Sáng tác</a></li>
        <li><a href="~/NXB/List">Nhà xuất bản</a></li>
    </ul>
}

@*@if (Session["TenDangNhap"] == null && Session["MatKhau"] == null)
{

    Response.Redirect("~/Admin/Login");
}*@


@using (Html.BeginForm("EditAction", "TheLoai"))
{
    <ul id="tabsmenu" class="tabsmenu">
        <li class="active"><a href="#tab1">Sửa </a></li>
    </ul>
    <div id="tab1" class="tabcontent">

        <div class="form">

            <div class="form_row">
                @Html.HiddenFor(model => model.MaTheLoai)
            </div>
            @*<div class="form_row">
                <label>Tên thể loại sách:</label>
                <input type="text" class="form_input" name="TenLoaiSach" id="TenLoaiSach" value="@Model.TenLoaiSach" />
                <span>@Html.ValidationMessageFor(model => model.TenLoaiSach, "", new { @class = "error" })</span>
            </div>*@
            <div class="form_row">
                <label>Tên Sách:</label>
                @Html.EditorFor(model => model.TenLoaiSach, new { @class = "form_input" })
                <span>@Html.ValidationMessageFor(model => model.TenLoaiSach, "", new { @class = "error" })</span>
            </div>
            <div id="btn-submit">
                <input type="submit" class="form_submit" value="Lưu" />
            </div>

            <div class="clear"></div>
        </div>
    </div>
}